/* ================= MOBILE (≤ 768px) ================= */
@media (max-width: 768px){

  section{
    padding:50px 14px;
  }

  .card{
    padding:24px;
    border-radius:22px;
  }

  .script{
    font-size:40px;
  }

  .subtitle{
    font-size:14px;
  }

  h2{
    font-size:26px;
    text-align:center;
  }

  .lead{
    font-size:14px;
    text-align:center;
  }

  /* input password full */
  #pwInput{
    width:100% !important;
    margin-bottom:10px;
  }

  #pwSubmit{
    width:100%;
  }

  /* gallery jadi 2 kolom */
  .grid{
    grid-template-columns:repeat(2,1fr);
    justify-items:center;
    justify-content:center;
  }

  .ph img{
    height:180px;
  }

  /* gift lebih kecil */
  .gift{
    width:140px;
    height:110px;
  }

  .lid{
    top:-22px;
    height:28px;
  }

  /* tulisan ending */
  #finalScreen .big{
    font-size:48px;
    text-align:center;
  }

  #finalScreen .sub{
    font-size:15px;
    padding:0 10px;
  }
}

/* ================= HP KECIL (≤ 480px) ================= */
@media (max-width: 480px){

  .script{
    font-size:34px;
  }

  .card{
    padding:20px 16px;
  }

  .grid{
    grid-template-columns:1fr;
    justify-items:center;
    justify-content:center;
  }

  .ph img{
    height:200px;
  }

  .btn{
    padding:12px 18px;
    font-size:14px;
  }

  #finalScreen .big{
    font-size:40px;
  }

  #finalScreen .sub{
    font-size:14px;
  }
}
